@import "global.scss";

.button {
  background: $lightBrown;
  color: $white;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  padding: 8px 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}
