@import "global.scss";

.card {
  background: $white;
  padding: 4rem;
  border-radius: 5px;
  box-shadow: 0 2px 10px 0 rgba(207, 222, 221, 0.5);
  @include flex(column, center, center);
}

@media (max-width: 728px) {
  .card {
    padding: 24px;
  }
}
