@import "global.scss";

.home {
  width: 100vw;
  min-height: 100vh;

  .coverHome {
    background: url("../../assets/img/cover-background.jpg");
    background-size: cover;
    background-position: center;
    color: $white;
    font-size: 1.7rem;
    @extend .cover;

    h1 {
      margin-top: 64px;
      stroke-width: 0.3px;
      -webkit-text-stroke-color: gray;
      -webkit-text-stroke-width: 0.3px;
    }
  }
}
