@import "global.scss";

.header {
  position: fixed;
  @include flex(row, space-between, center);
  height: 64px;
  width: calc(100% - 2 * 24px);
  padding: 0 24px;
  background: $black;
  top: 0;

  .logo {
    height: 64px;
  }

  .actions {
    .about {
      color: $white;
      text-decoration: none;
      margin-left: 24px;
    }
  }
}
