@import "global.scss";

.signup {
  background: url("../../assets/img/cover-user.jpg");
  background-size: cover;
  background-position: center;
  @extend .cover;
  width: 100%;
  @include flex(column, center, center);

  .formSignUp {
    @include flex(column, center, center);

    .inputs {
      margin-bottom: 24px;
      @include flex(column, center, center);

      .error {
        font-size: 10px;
        color: red;
      }
    }

    .goTo {
      font-size: 12px;
      margin-top: 24px;

      a {
        text-decoration: none;
        font-weight: bold;
        color: $lightBrown;
        cursor: pointer;
      }
    }
  }
}
