@import "global.scss";

.dashboard {
  width: 100vw;
  height: 100vh;
  @include flex(column, center, center);

  .dashboardInfo {
    @include flex(column, center, flex-end);
    .row {
      @include flex(row, space-between, center);

      .columns {
        display: grid;
        grid-auto-rows: 50px;
        margin-right: 25px;

        .col {
          align-self: center;
        }
      }
      .board {
        width: 400px;
        height: 400px;

        .line1,
        .line2 {
          @include flex(row, space-between, center);
        }

        .line1 div:nth-child(2n + 1) {
          background: $lightBrown;
        }

        .line2 div:nth-child(2n) {
          background: $lightBrown;
        }

        .position {
          @include flex(row, center, center);
          background: $lightYellow;
          width: 50px;
          height: 50px;
          cursor: pointer;

          .image {
            width: 32px;
          }
        }
      }
    }

    .rows {
      display: grid;
      grid-template-columns: 50px 50px 50px 50px 50px 50px 50px 50px;
      margin-top: 25px;
      width: 400px;

      .line {
        text-align: center;
      }
    }
  }
  .saveMove {
    @include flex(column, center, center);

    margin-top: 24px;

    label {
      margin-top: 24px;
    }
  }
}

@media (max-width: 728px) {
  .dashboardInfo {
    .row {
      .columns {
        width: 20px;
        grid-auto-rows: 20px !important;
      }
      .board {
        width: 160px !important;
        height: 160px !important;

        .position {
          width: 20px !important;
          height: 20px !important;

          .image {
            width: 15px !important;
          }
        }
      }
    }

    .rows {
      grid-template-columns: 20px 20px 20px 20px 20px 20px 20px 20px !important;
      width: 160px !important;
    }
  }
}
