@import "mixins.scss";
@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900&display=swap");
* {
  font-family: "Montserrat", serif;
}

body {
  margin: 0;
  padding: 0;
}

.cover {
  width: 100vw;
  height: 100vh;
  @include flex(row, center, center);
}
