$lightYellow: #ffe6a7;
$lightBrown: #99582a;
$brown: #432818;
$white: #ffffff;
$deer: #bb9457;
$red: #6f1d1b;
$black: #090d0f;

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
